.acercaDe{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.acercaDe-izq{
    flex-basis: 40%;
    position: relative;
}
.acercaDe-der{
    flex-basis: 56%;
}
.acercaDe-img{
    width: 100%;
    border-radius: 25px;
    filter: brightness(0.7);
}
.play-icon{
    width: 90px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.acercaDe h3{
    font-weight: 600;
    font-size: 16px;
    color:#93a021;
}
.acercaDe h3{
    font-size: 35px;
    color:#0195ff;
    margin: 10px 0;
    max-width: 400px;
}
.acercaDe p{
    text-align: justify;
    margin-top: 17px;
    color: #676767;
    margin-bottom: 15px;
    font-size: 1.2rem;
}


@media(max-width: 800px){
    .acercaDe{
        flex-direction: column;
    }
    .acercaDe-izq{
        flex-basis: 100%;
        margin: 20px;
    }
    .acercaDe-der{
        flex-basis: 100%;
    }
}
