@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

nav{
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 230px;
}
nav ul li, nav ul li.active:hover{
    font-family: Georgia;
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    font-size: 20px;
    color: #fff;
}
nav ul li:hover,
nav ul li.active {
    color: #0195ff;
}
.ghost-btn {
    background: transparent;
    color: #0195ff;
    border: 2px solid #0195ff;
    border-radius: 20px;
    padding: 8px 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.ghost-btn:hover {
    background: #0195ff;
    color: #fff;
    transform: translateY(-2px);
}

.dark-nav{
    background: rgba(190, 172, 6,0.85);
    transition: 0.5s;
}
.botonFlotante {
    position: fixed !important;
    top: 80% !important;
    transform: translateY(-50%) !important;
    right: 0 !important;
    background: #1b772a !important;
    color: #fff !important;
    font-size: 4rem !important;
    width: 80px;
    height: 80px; 
    border-radius: 40px 0 0 40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    padding: 0; 
    z-index: 9999;
}


.botonUp.dark-botonUp {
    display: flex;
    opacity: 1;
    visibility: visible;
    color: #333;
}
.botonUp {
    display: none; 
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    background: rgba(19, 24, 0, 0.0) !important;
    color: #0195ff !important;
    font-size: 2.2rem !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    z-index: 9999;
}
.botonDown.dark-botonDown {
    display: none;
}
.botonDown {
    display: flex; 
    position: fixed !important;
    bottom: 20px !important;
    left: 46%;
    background: rgba(19, 24, 0, 0.0) !important;
    color: #0195ff !important;
    font-size: 2.2rem !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    z-index: 9999;
}

.menu-icon{
    display: none;
}
@media(max-height:420px){
    .botonUp{
        left: 20px !important;
    }
}
@media(max-width:1280px){
    nav ul li, nav ul li.active:hover{
        font-size: 17px;
        margin: 13px 18px;
    }
}
@media(max-width:1200px){
    .logo{
        width: 210px;
    }
    nav ul li, nav ul li.active:hover{
        margin: 10px 15px;
    }
    
}
@media(max-width:1100px){
    .logo{
        width: 200px;
    }
}
@media(max-width:1086px){
    .logo{
        width: 180px;
    }
    nav ul li, nav ul li.active:hover{
        font-size: 16px;
    }

}
@media(max-width:1000px){
    .logo{
        width: 170px;
    }
}
@media(max-width:970px){
    nav ul li, nav ul li.active:hover{
        font-size: 15px;
    }
}
@media(max-width:965px){
    .logo{
        width: 150px;
    }
}
@media(max-width:931px){
    nav ul li, nav ul li.active:hover{
        font-size: 15px;
    }
}
@media(max-width:912px){
    nav ul li, nav ul li.active:hover{
        font-size: 14px;
    }
}
@media(max-width:900px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(2, 6, 19,0.85);
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li, nav ul li.active:hover{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}
